
  body{
font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: larger;

  }
  h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 0%;  }
  h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
margin-left: 20%;
margin-right: 20%;
  }
  h3{
    font-size: large;
  }
  
  img {
    position: relative;
    top: 50%; left:1%;
    width: 400px;
    height: 355px;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .boxed {
    border: 1px solid rgb(255, 255, 255) ;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 20%;
    line-height: 25px;
  }
  
  
  .header {
    text-align: center;
    padding: 10px;
  }
    .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  p{
    position: relative;
    margin-left: 23%;
    margin-right: 23%;
    margin-bottom: 10%;
line-height: 30px;}

img.fit-picture{
  width: 90px;
  height: 100px;
margin-top: .2%;
padding-bottom: 0%;
}