
  body{
font-family: 'Courier New', Courier, monospace;
    text-align: center;

  }
  
  
  img {
    position: relative;
    top: 50%; left:25%;
    width: 600px;
    height: 455px;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .boxed {
   border-width: 50%;

    border: 1px solid rgb(10, 66, 10) ;
    border-left: 10%;
    border-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
 