    h1{
    text-align: center;
    margin-top: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
      
    h2{
      text-align: left;
      margin-left: 50%;
      margin-top: 3%;
    }
      p{ 
    line-height:30px;
    text-align: center; 
    margin-left: 20%;
    font-family: monospace;
    font-size: large;
      }
      
    
    div#header{
      margin-left: 15%;
      margin-top: 3%;
      margin-bottom:2% ;
      padding-bottom: 3%;
    }
    img.fit-picture{
      width: 90px;
      height: 100px;
    margin-left: 48.2%;
    margin-top: 1%;
    }