 img {
    position: relative;
    top: 50%; left:25%;
    width: 600px;
    height: 455px;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  section {
    background-image: url("night sky.jpeg");
       }