:root {
    /* Colors */
    --primaryH: 210;
    --primaryS: 50%;
    --primaryL: 40%;
    --primary-bg: rgb(0, 0, 0);
    --secondaryH: 0;
    --secondaryS: 0%;
    --secondaryL: 13%;
    --secondary-bg: rgb(0, 0, 0);

  

    /* Font */
    --font-family: Helvetica, Arial, sans-serif;
    --font-size-root: 16px;
    --font-weight-bolder: 500;
    --font-weight-bold: 400;
    --font-weight-normal: 200;
    --font-weight-thin: 100;
    --line-height: 1.75rem;
    --heading-margin: 1.5rem 0 1rem;
    /* Inputs */
    --border-radius: .5px;
    /* Status */
    --error: #d00;
    --warning: #ec0;
    --info: #369;
    --correct: #080;
  }
  
  
  
  html {
    
    background-color: var(--secondary-bg);
    font-size: var(--font-size-root);
    font-weight: var(--font-weight-normal);
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fafafa;
    margin: auto auto;
  }
  .boxed {
    border: 1px solid rgb(14, 67, 128) ;
    height: 250px;
    padding-bottom: 0%;
    margin-bottom: 5%;
  }
  @media all and (min-width: 1024px) {
    body {
      max-width: 920px;
    }
  }
  
  @media all and (min-width: 1200px) {
    body {
      max-width: 1080px;
    }
  }
  
 
  
  [hidden],
  template {
    display: none;
  }
  

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(233, 231, 224);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
  h1 {
    font-size: 2.5rem;
    color: rgb(233, 231, 224);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2%;
}
  
  
  h2 {
    font-size: 2rem;
    margin-top: 0%;
  }
  
  h3 {
    font-size: 1.66rem;
  }
  
  h4 {
    font-size: 1.45rem;
  }
  
  h5 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
  }
  
  h6 {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
  }
  
  ul,
  ol {
    margin: 1rem 0;
    padding-left: 2rem;
  }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0;
  }

  
  li {
    font-size: 1rem;
    font-family: monospace;
    line-height: var(--line-height);
    max-width: 80ch;
    max-width: calc(80ch - 3rem)
  }
  
  table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  
  
  
  
  
  td,
  th {
    padding: 1rem 0.5rem;
    vertical-align: top;
  }
  
  
  
  input:not([type="file"]),
  optgroup,
  option,
  textarea,
  select {
    
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    font-size: 1rem;
    height: 2.5rem;
    line-height: normal;
    margin: 0;
    padding: 0 0.5rem;
    max-width: 100%;
    min-width: 15rem;
    text-transform: none;
    vertical-align: bottom;
  }
  
  
  input:not([type="file"]):invalid:hover,
  optgroup:invalid:hover,
  option:invalid:hover,
  textarea:invalid:hover,
  select:invalid:hover {
    border: 1px solid #aa0000;
  }
  
   
  
 
  
  
  
  input[type="color"] {
    padding: 0.125rem;
  }
  
  input[type="range"] {
    padding: 0;
  }
  
  textarea {
    height: 5rem;
    line-height: 1.5rem;
    overflow: auto;
  }
  
  
  
  
  
  
  input[type="radio"],
  input[type="checkbox"],
  input[type="image"],
  input[type="file"] {
    border: 0;
    box-sizing: border-box;
    height: auto;
    max-width: initial;
    min-width: auto;
    padding: 0;
  }
  
  
  
  
  
  
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  
  
  
  input[type="radio"],
  input[type="checkbox"] {
  
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    vertical-align: text-top;
  }
 
  
  select:not([multiple]) {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M0,10 20,30 40,10' fill='none' stroke='%23999' stroke-width='2'/></svg>");
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    padding-right: 2em;
  }
  select:not([multiple]):hover,
  select:not([multiple]):active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M0,10 20,30 40,10' fill='none' stroke='%23222' stroke-width='2'/></svg>");
  }
  
  select[multiple] {
    min-height: 10rem;
    padding: 0;
  }
  
  
  
  
  optgroup {
    border: 0;
    border-radius: 0;
    font-weight: var(--font-weight-bolder);
    padding: 0.5rem;
  }
  
  option {
    border: 0;
    border-radius: 0;
    display: flex;
    font-weight: var(--font-weight-normal);
    align-items: center;
    justify-content: flex-start;
  }
  option:hover {
    border: 0;
  }
  
  a,
  a:link,
  a:visited,
  a:active,
  a:focus {
    text-decoration: underline;
    color: aliceblue;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
  
  address {
    display: block;
    font-style: normal;
    margin: 1rem 0;
  }
  
  audio {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  body {background-color: #000000;
  text-align: center;
  padding-top: 2%;
}
 
  
  blockquote {
    box-sizing: border-box;
    display: block;
    margin: 1rem 0 1rem 3rem;
    max-width: 80ch;
    max-width: calc(80ch - 3rem);
    overflow: hidden;
    padding: 1rem;
    page-break-inside: avoid;
    position: relative;
  }
  blockquote::before {
    content: open-quote;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 0.25rem;
    line-height: 1;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  blockquote > :first-child {
    margin-top: 0;
    text-indent: 1rem;
  }
  blockquote > :last-child {
    margin-bottom: 0;
  }
  
  canvas {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
  }
  cite {
    font-style: italic;
  }
  
  code {
    display: inline-block;
    font-family: monospace, monospace;
    font-size: 1em;
    padding: 0 0.25rem;
  }
  
  del {
    text-decoration: line-through;
  }
  
  dialog {
    border: 1px;
    display: none;
    left: 50%;
    margin: 0;
    max-height: 80vh;
    max-width: 80vw;
    min-width: 20vw;
    padding: 1rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  dialog[open] {
    display: flex;
    flex-direction: column;
  }
  dialog::before {
    content: "";
    height: 100vmax;
    left: 50%;
    opacity: 0.33;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vmax;
    z-index: -1;
  }
  dialog::after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  dialog > * {
    max-height: 80vh;
    overflow: auto;
  }
  dialog > h1,
  dialog > h2,
  dialog > h3,
  dialog > h4,
  dialog > h5,
  dialog > h6 {
    border-bottom: 1px;
    font-size: 1.125rem;
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.5rem 1rem;
  }
  
  details {
    border: 1px;
    display: block;
    padding: 0 1rem;
  }
  details summary {
    margin: 0 -1rem;
    padding: 1rem;
  }
  details[open] summary {
    border-bottom: 1px;
  }
  details + details {
    border-top: 0;
    border-radius: 0;
  }
  dl {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 80ch;
  }
  ins {
    text-decoration: underline;
  }
  kbd {
    border: 1px;
    font-family: monospace, monospace;
    font-size: 0.9rem;
    padding: 0.125rem 0.25rem;
  }
  p {
    font-size: 1.1rem;
    margin: 1rem 0;
    line-height: 32px;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
  }
  
  pre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 1rem 0;
    max-width: 100%;
    overflow: auto;
  }
  pre > code {
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    min-width: 100%;
    padding: 1rem;
    width: min-content;
  }
  
  progress {
    display: inline-block;
    max-width: 100%;
    min-width: 15rem;
    vertical-align: baseline;
  }
  
  q {
    font-style: italic;
  }
  q::before {
    content: open-quote;
    font-style: normal;
  }
  q::after {
    content: close-quote;
    font-style: normal;
  }
  
  s,
  strike {
    text-decoration: line-through;
  }
  
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  small {
    font-size: 0.75em;
  }
  
  sub,
  sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sup {
    top: -0.5em;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  svg:not(:root) {
    border: 0;
    max-width: 100%;
    overflow: hidden;
  }
  
  u {
    text-decoration: underline;
    text-decoration-style: wavy;
  }
  
  var {
    font-family: monospace, monospace;
    font-size: 1em;
    font-style: normal;
  }
  
  video {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
  }
  
  
  
  
  [role="progressbar"] {
    --value: 50;
    --thick: 50%;
    --medium: 58%;
    --thin: 67%;
    border-radius: 50%;
    display: grid;
    font-size: 2em;
    overflow: hidden;
    place-items: center;
    position: relative;
    width: 100%;
  }
  [role="progressbar"]::before {
    content: "";
    
    height: 100%;
    left: 0;
    
    position: absolute;
    transition: background-color 0.5s;
    width: 100%;
  } 
  /* our custom modifications and overrides */
  
  nav {
    background-color: rgb(7, 28, 49);
    border-radius: 1em;

  }

  
  nav ul {
    justify-content: space-evenly;
    display: flex;
  }
  
  nav li {
    display: inline-block;  
    font-size: x-large;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  nav li a {
    /* TODO remove important override */
    text-decoration-line: none !important;
  }
 
  #wrapperHeader{
    position: relative;
    background-image:url("images/mariasabina.jpeg");
    position: relative;
  top: 5%; 
  left:5%;
  width: 600px;
  height: 455px;
  padding-top: 3%;
  padding-bottom: 3%;
}

img.fit-picture{
  width: 90px;
  height: 100px;
}